{% extends "base.html" %}
{% block content %}
    <h2>About Page</h2>
    <p>
        The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest
        in recapturing his long lost family inheritance. (Thorin's grandfather had been the King under the Mountain when
        Smaug came and took it.) Remembering that he had once known an adventurous Hobbit on his travels in the Shire,
        Gandalf decided to add Bilbo to their company because he knew that stealth and cunning were preferable to force.
        Gandalf also believed that someone like Bilbo could keep the sometimes prideful and stubborn Dwarves from rash
        action. The superstitious Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned
        to leave on other business, welcomed a fourteenth to fill into their party.
    </p>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Thorin Oakenshield</h3>
            <p>
                Thorin II was born in TA 2746 to Dwarf prince Thráin II in the city of the Lonely Mountain. Early in his
                youth, he and the other Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug in TA
                2770. While in exile, he quickly grew to become a capable warrior. This was demonstrated when he
                participated in the Battle of Azanulbizar in TA 2799. He fought with one of the Dwarven armies beneath
                the East-gate of Moria. At some point in the fighting, his shield broke, and using an oaken tree branch
                found on the ground as a shield, he gained the epithet "Oakenshield," which would remain with him even
                in death.
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img src="https://static.wikia.nocookie.net/lotr/images/2/29/Thorin_Oakenshield.jpg" alt="Lego Thorin Image">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-3">
            <img src="https://static.wikia.nocookie.net/lotr/images/f/fb/Lego_fili.png" alt="Lego Fíli">
        </div>
        <div class="col-md-3">
            <img src="https://static.wikia.nocookie.net/lotr/images/d/d9/Killi.jpg" alt="Lego Kíli">
        </div>
        <div class="col-md-6">
            <h3>Fíli &amp; Kíli</h3>
            <p>
                Fíli and Kíli were nephews of Thorin, who was the elder brother of their mother Dís. They were also
                nephews of Frerin, grandsons of Thráin II, and great-grandsons of Thrór. Fíli's most distinguishing
                feature was his long nose, the longest of any of the Dwarves in Thorin's company.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Óin</h3>
            <p>
                Óin was the older brother of Glóin, cousin of Dwalin and Balin, and uncle of Gimli. Óin's uncle was
                Fundin, the father of Balin and Dwalin. He usually wore a brown-hooded cloak when travelling. Óin fought
                in the Battle of Azanulbizar along with Thorin Oakenshield, and in TA 2941 joined with Thorin and
                Company on the quest to reclaim the Lonely Mountain wearing a brown hood.
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img src="https://static.wikia.nocookie.net/lotr/images/c/c9/LEGO_Oin.jpg" alt="Lego Óin">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img src="https://static.wikia.nocookie.net/lotr/images/7/70/LEGO_Gloin.jpg" alt="Lego Glóin">
        </div>
        <div class="col-md-7">
            <h3>Glóin</h3>
            <p>
                Glóin was born in TA 2783, after the dragon Smaug desolated Erebor. He was the younger child of Gróin
                and younger brother of Óin.

                In TA 2799, Glóin was known to have fought in the Battle of Azanulbizar, the last battle of the War of
                the Dwarves and Orcs, though it is unknown how significant his contribution was, being 16 years old.

                In TA 2879, in the Blue Mountains, while in exile, his son Gimli was born to him and an unknown wife. In
                March of TA 2941 in Bree, Thorin Oakenshield met by chance the wizard Gandalf the Grey, pushing Thorin
                to reclaim Erebor, so that Smaug wouldn't ally with Sauron. When Gandalf mentioned Hobbits, Glóin
                referred them as "simpletons" and also said that Hobbits "would never dare to come within smelling
                distance of the nakedest dragonet new from the shell".
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Balin</h3>
            <p>
                Balin was a Dwarf leader, the son of Fundin, and elder brother of Dwalin. He was one of the thirteen
                Dwarves who accompanied Thorin II Oakenshield on the quest to regain the Lonely Mountain.
                A Dwarf Lord known for his wise counsel and willingness to listen, he was one of Thorin's closest
                friends and advisers. Balin was distantly related to him, and a descendant of the noble House of Durin.

                He later went to re-establish the Dwarf presence in Moria, but within five years it was overcome once
                more by Orcs, and he was killed there along with the rest of his companions.
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img src="http://www.bricklink.com/ML/lor049.jpg?1" alt="Lego Balin">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img src="https://static.wikia.nocookie.net/lego-lord-of-the-rings/images/5/56/Dwal.png" alt="Lego Glóin">
        </div>
        <div class="col-md-7">
            <h3>Dwalin</h3>
            <p>
                Born in TA 2772, two years after the dragon Smaug had desolated Erebor, Dwalin was the son of Fundin and
                younger brother of Balin. After fighting in the Battle of Azanulbizar at the age of 27, Dwalin
                accompanied Thráin II and Thorin Oakenshield to settle peacefully in the northern Ered Luin.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Ori</h3>
            <p>
                Ori lived in Thorin's Halls in the northern Blue Mountains for many years. In the year TA 2941, Ori
                became a member of Thorin's Company and travelled with Thorin, Gandalf, Bilbo Baggins, and the other
                Dwarves on the quest for the Lonely Mountain, culminating in the death of Smaug. Finally, he and the
                other Dwarves of Thorin's Company fought in the Battle of Five Armies, which he survived.
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img src="https://static.wikia.nocookie.net/lotr/images/c/c7/Ori.jpg" alt="Lego Ori">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img src="https://static.wikia.nocookie.net/lotr/images/d/d1/Dori.jpg" alt="Lego Dori">
        </div>
        <div class="col-md-7">
            <h3>Dori</h3>
            <p>
                Dori was among the Dwarves at Bag End who joined in singing about "blunting the knives" and "bending the
                forks"; as well as accompanying by playing the flute. He was described as “decent fellow despite his
                grumbling”. He often wore a red-violet coat while on the Quest for Erebor. He was noted by Thorin to be
                the strongest of the thirteen companions.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Nori</h3>
            <p>
                Nori was a Dwarf of Durin's Folk. He had a brother named Dori as well as a cousin named Ori, and was
                a remote kinsman of Thorin Oakenshield. His hood was purple, he played the flute, and he was very fond
                of regular and plentiful meals like his Hobbit friend, Bilbo Baggins.
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img src="https://static.wikia.nocookie.net/lotr/images/9/91/LEGO_Nori_.jpg" alt="Lego Nori">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img src="https://static.wikia.nocookie.net/lotr/images/9/98/LEGO_Bifur.jpg" alt="Lego Bifur">
        </div>
        <div class="col-md-7">
            <h3>Bifur</h3>
            <p>
                Whilst he was a descendant of the Dwarves of Khazad-dûm, Bifur was not related to the royal House of
                Durin. Most of his familial relations are unclear, and what is known of his parentage is very little. He
                and his family were driven out of their home in the Lonely Mountain by the dragon Smaug, and were forced
                to live in exile, where the Dwarf warrior worked as a toy maker. Following Thorin II Oakenshield to a
                new life at his halls in the Blue Mountains, he continued his life as a toy maker.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Bofur</h3>
            <p>
                Bofur was a Dwarf of the late-Third Age. He is best known as a companion of Bilbo Baggins, Thorin
                Oakenshield, and Gandalf on the quest to reclaim the Lonely Mountain from the dragon Smaug, along with
                his brother Bombur and cousin Bifur.
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img src="https://static.wikia.nocookie.net/lotr/images/2/2e/HQBofur.png" alt="Lego Bofur">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img src="https://static.wikia.nocookie.net/lotr/images/d/d2/BomburHQ.jpg" alt="Lego Bombur">
        </div>
        <div class="col-md-7">
            <h3>Bombur</h3>
            <p>
                Bombur was a Dwarf who accompanied Thorin Oakenshield and Bilbo Baggins on their quest to the Lonely
                Mountain as part of the company, alongside his brother Bofur and cousin Bifur. Bombur was noted as the
                fattest Dwarf in the company.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Bilbo Baggins</h3>
            <p>
                Bilbo Baggins was a hobbit of the Shire, the main protagonist of The Hobbit and a secondary character in
                The Lord of the Rings.

                Gandalf suggested to Thorin and Company that they hire Bilbo Baggins to be their burglar in the Quest of
                Erebor, and later fought in the Battle of Five Armies. Bilbo was also one of the bearers of the One
                Ring, and the first to voluntarily give it up, although with some difficulty. He wrote many of his
                adventures in a book he called There and Back Again. Bilbo adopted his second-cousin-once-removed Frodo
                Baggins to be his heir after his parents, Drogo Baggins and Primula Brandybuck, drowned in the
                Brandywine River.
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img src="https://static.wikia.nocookie.net/lego/images/c/c8/Bilbo_Baggins_2.jpg" alt="Lego Bolbo Baggins">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img src="https://static.wikia.nocookie.net/lego/images/6/65/Gandalf_the_grey.png" alt="Lego Gandalf">
        </div>
        <div class="col-md-7">
            <h3>Gandalf</h3>
            <p>
                Gandalf the Grey, later known as Gandalf the White, and originally named Olórin, was an Istar (Wizard),
                dispatched to Middle-earth in the Third Age to combat the threat of
                Sauron. He joined Thorin II Oakenshield and his company to reclaim the Lonely Mountain from Smaug,
                helped form the Fellowship of the Ring to destroy the One Ring, and led the Free Peoples in the final
                campaign of the War of the Ring.
            </p>
        </div>
    </div>

{% endblock %}